<div class="delete">

	<h3> <%= @game.title %> </h3>
	<div> Hosted by: <%= @game.user.username %> </div>
	<div> <%= @game.date.localtime %> </div>
	<div>	<%= @game.venue %> </div>
	<div>	<%= @game.image_url %> </div>
	<div>	<%= @game.description %> </div>

	
	<%if user_is_creator?%>
		<em>Confirm delete?</em>
		<form action="/game/<%= @game.id %>/delete" method="post">
			<input type="hidden" name="_method" value="delete">
			<button class="btn btn-dark" type="submit">Delete</button>
		</form>
		<a class="btn btn-dark" href="/game/<%= @game.id %>">Return</a>
	<%end%>

</div>