<div class="details-wrapper">



	<div class="box a">
		<h3> <%= @game.title %> </h3>
		<div> Hosted by: <%= @game.user.username %></div>
		<div> <%= @game.date.localtime.strftime("%A, %d %b %y, %H:%M") %></div>
		<div>	<%= @game.venue %> </div>
		<!-- <div> <img src="<%= @game.image_url %>" alt=""></div> -->
		<div style="margin-bottom: 20px;">	<%= @game.description %> </div>

		<div id="map" style="width:500px;height:200px; background-color: #f5f1f1">oops, something went wrong</div>
		<br>

		<%if user_is_creator?%>
			<a class="btn btn-dark" href="/game/<%= @game.id %>/edit">Edit</a>
			<a class="btn btn-dark" href="/game/<%= @game.id %>/delete">Delete</a>
		<%end%>

		<%if logged_in? && !user_already_rsvp? %>
			<form action="/game/<%= @game.id %>" method="post">
				<input type="hidden" name="_method" value="put">
				<button class="btn btn-dark" type="submit">Join</button>
			</form>
		<%end%>

		<%if logged_in? && !!user_already_rsvp? %>
			<form action="/game/<%= @game.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<button class="btn btn-dark" type="submit">Leave</button>
			</form>
		<%end%>

	</div>

	<div class="box b">
	
		<div> 
			<h3>Number of people going: </h3>
			<h1 style="color: blue; font-size:5em"><%= @rsvps.count %></h1> 
			<!-- <br>  -->
			<!-- <h3>Who's going?</h3> -->
			<% @rsvps.each do |rsvp| %>
				<span class="badge badge-warning"><%= User.find_by(id: rsvp.user).username %></span>

			<%end%>

		</div>
	
	</div>

</div>

<script>
	function createMap(){
	  var myLatLng = {lat: <%= @lat %>, lng: <%= @lon %>}; // from Geocoder.coordinates(@game.address)
	  var mapOptions = {
	      center: myLatLng,
	      zoom: 15,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	  }
	  var map = new google.maps.Map(document.querySelector("#map"), mapOptions);

	  var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map,
	    draggable: true
	    // animation: google.maps.Animation.DROP 
	  });
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAijWFPCoiUPmD1AcQEeuJa5QZvy8s72Sc&callback=createMap"></script>