
<div class="create-wrapper">

	<div class="box a">

	<h1>Making a change?</h1>

		<form action="/game/<%= @game.id %>/edit" method="post">
			<input type="hidden" name="_method" value="put">
			
			<div class="form-group row">
					
				<label for="title" class="col-sm-2 col-form-label">Title:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="title" value="<%= @game.title %>">
				</div>

				<label for="date" class="col-sm-2 col-form-label">Date:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="date" name="date" value="<%= @game.date.localtime.strftime("%Y-%m-%d") %>">
				</div>

				<label for="time" class="col-sm-2 col-form-label">Time:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="time" value="<%= @game.date.localtime.strftime("%H:%M") %>">
				</div>		

				<label for="venue" class="col-sm-2 col-form-label">Venue:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="venue" value="<%= @game.venue %>">
				</div>

				<label for="description" class="col-sm-2 col-form-label">Description:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="description" value="<%= @game.description %>">
				</div>	

				<label for="image_url" class="col-sm-2 col-form-label">Image_url:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="image_url" value="<%= @game.image_url %>">
				</div>	
		
			</div>

			<br>

			<button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
		</form>
		
		<br>
		
		<form action="/game/<%= @game.id %>" method="get">
			<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Return</button>
		</form>

	</div>

</div>
