<div class="stats-table-view-wrapper">
  <div class="box a">

    <h2> <%= @league.title %> </h2>
    <br>
    
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player Username</th>
          <th>Games Won</th>
          <th>Goals</th>
          <th>Assists</th>
        </tr>
      </thead>
      <tbody>

      <% @leaguestats.each do |leaguestat| %>

        <tr>
          <th scope="row">*</th>
          <td> 
            <%if leaguestat.user == nil %>
              <%= leaguestat.user %> 
            <%else%> 
              <%= leaguestat.user.username %>
            <%end%> 
          </td>
          <td> <%= leaguestat.games_won %> </td>
          <td> <%= leaguestat.goals %> </td>
          <td> <%= leaguestat.assists %> </td>
        </tr>

      <%end%>

      </tbody>
    </table>
    <a class="btn btn-outline-primary btn-lg btn-block" href="/league/<%= @league.id %>/stats_table_edit">Edit</a>
    <a class="btn btn-outline-primary btn-lg btn-block" href="/league_view">Return</a>

  </div>
</div>